section.donation#donation
  .flex.flex--center

    .col-50
      .article-wrap
        .message When we were in school, we all have heard the quote "We do not inherit the earth from our ancestors; we borrow it from our children". But if we can't even save our future generation what makes us think that we can save our environment. Take the first step in saving children, donate   something. <br> 
          a(href="http://www.cry.org/" target="_blank")
            img(src= "./assets/img/logo.png")



    .col-50.flex.flex--center <!--.order-first-->
      .col-1
        .desc-wrap
          p.home-lead.outdented ...Be the change...
          a(href="http://www.cry.org/donation/" target="_blank").home-cta Donation To Cry
