section.articles#articles
  .flex.flex--center

    .col-50
      .article-wrap
        {% for post in site.categories.project limit: 9 %}
        a(href="#" style="background-image: url(.{{post.cover}})").article-thumb
          .article-meta
            .name {{post.title}}
            .date {{post.date | date: "%b %d, %Y"}}
        {% endfor %}
        


    .col-50.flex.flex--center <!--.order-first-->
      .col-1
        .desc-wrap
          p.home-lead.outdented ...What I Did So Far...
          a(href="/projects").home-cta See My Work
