section.podcast#podcast
  .flex.flex--center
    .col-2
      p.home-lead Be My Friend       
  .flex.flex--center
    form(action="https://getsimpleform.com/messages?form_api_token=<form_api_token>" method="post")
      .col-1.podcast
        <input type='text' name='name' />
      .col-1.podcast
        <input type='text' name='Email' />
      .col-1.podcast
        <input type='submit' value='Test form' />

    
    
    a(href="https://itunes.apple.com/us/podcast/late-nights-with-trav-and-los/id944869246?mt=2").home-cta.itunes iTunes
      
