<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> {% if page.title %} {{ page.title }} @ {% endif %} rk</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" sizes="16x16" href="{{baseurl}}/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{baseurl}}/assets/img/favicon.ico">
    <link rel="manifest" href="{{baseurl}}/manifest.json">
    <link rel="stylesheet" href="{{baseurl}}/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> {% if page.type =="post" %}{{ page.styles }}{% endif %}
    <script src="{{baseurl}}/assets/js/jquery.js"></script>
    <style>
        @media print {
            body * {
                visibility: hidden;
            }
            #printDiv,
            #printDiv * {
                visibility: visible;
            }
            #printDiv {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
            }
        }
    </style>
</head>

<body>
    <div class="blog">
        <div id="printDiv">
            {{ content }}
        </div>
        <button id='printBtn'>Print</button>
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
                printing();
                var d = document,
                    s = d.createElement('script');
                s.src = '//rahulkantravi-tk.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();

            function printing() {
                console.log('in print');
                $('#printBtn').click(function() {
                    window.print();

                    return true;
                });
            }
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </div>
</body>

</html>