<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title> {% if page.title %} {{ page.title }} @ {% endif %} rk</title>
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" sizes="16x16" href="{{baseurl}}/assets/img/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{baseurl}}/assets/img/favicon.ico">
  <link rel="manifest" href="{{baseurl}}/manifest.json">
  <link rel="stylesheet" href="{{baseurl}}/assets/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> {% if page.type =="post" %}{{ page.styles }}{% endif %}
  <script src="{{baseurl}}/assets/js/jquery.js"></script>
</head>

<body>

  {{ content }}


  <script src="{{baseurl}}/assets/js/functions.js"></script>
  <script src="{{baseurl}}/assets/js/contact-list.js"></script>
  <script src="{{baseurl}}/assets/js/contact.js"></script>
</body>

</html>